@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
}

html {
    scrollbar-width: thin; /* thin, auto, none */
}

html {
    scrollbar-color: #888 #f1f1f1; /* thumb-color track-color */
}